@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.page-hero {
  background: $color-primary-light;

  &__inner {
    @include container;
    padding: $space-72 0;
  }

  h1 {
    margin-bottom: 12px;
    color: $color-primary-dark;
  }

  p {
    color: $color-muted;
  }
}
