@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.section-block {
  @include container;
  @include section-spacing;
  scroll-margin-top: $space-96;
  border-bottom: 1px solid $color-border;

  .section-title {
    margin-bottom: $space-16;
  }

  &__content {
    min-height: 120px;
    color: $color-muted;
  }
}
