@use "../abstracts/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  color: $color-text;
  background: $color-bg;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}
