@use "../abstracts/variables" as *;

body {
  font-family: $font-primary;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h1,
h2,
h3 {
  line-height: 1.25;
  letter-spacing: -0.04em;
}

p {
  line-height: 1.7;
}
